
<div class="container">
  
  <h1>IT Idol: <%= @random_motto %></h1>
  <br/>
  
  <% @idols.each do |idol| %>

  <div><a>
    <br/><strong>Name:</strong> <%= idol.name %>
    <br/><strong>Contact:</strong> <%= idol.contact %>
    <br/><strong>About:</strong> <%= idol.about %>
    <br/><strong>Motto:</strong> <%= idol.motto %>

    <ul>
      <% idol.comments.each do |comment| %>
      <li><%= comment.content %></li>
      <% end %>
    </ul>
  <a></div>
  
  <% end %>

</div>

