<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @idol.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @idol.name %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @idol.contact %>
</p>

<p>
  <strong>About:</strong>
  <%= @idol.about %>
</p>

<p>
  <strong>Motto:</strong>
  <%= @idol.motto %>
</p>

<p>
  <strong>Count:</strong>
  <%= @idol.count %>
</p>

<ul>
  <% @idol.comments.each do |comment| %>
  <li><%= comment.content %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_idol_path(@idol) %> |
<%= link_to 'Back', idols_path %>
