
<h1>IT Idol</h1>

<% @idols.each do |idol| %>
<br/>Id: <%= idol.id %>
<br/>Name: <%= idol.name %>
<br/>Contact: <%= idol.contact %>
<br/>About: <%= idol.about %>
<br/>Motto: <%= idol.motto %>
<br/>Count: <%= idol.count %>

<ul>
<% idol.comments.each do |comment| %>
  <li><%= comment.content %></li>
<% end %>
</ul>

<% end %>




